/*Navbar*/ 
.navbar-light {
    background-color: silver!important;
}
.align-center{
    align-content: center;
    align-items: center;
    justify-content: center;
}


/*  Body/Main  */


/* Products */


/* Profile */


/* Cart */


/* Checkout */


/*  Footer  */


/*  Webkits */

/* Media Queries */