{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Artefact Auctions</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">This is a project written as Course Work for Code Institute.
            As such please note that all items listed on this website are imaginary and will not be sent if ordered.
            This site is designed as a showcase of my fullstack abilities.
        </div>
    </div>
</div>

{% endblock %}